{
  "authentication": {
    "ldap": {
      "enabled": false,
      "ssl": false,
      "hostname": "ldap.domain.com",
      "port": 389,
      "baseDn": "dc=company,dc=com",
      "searchUserDn": "cn=reposilite,ou=admins,dc=domain,dc=com",
      "searchUserPassword": "reposilite-admin-secret",
      "typeAttribute": "person",
      "userAttribute": "cn",
      "userFilter": "(&(objectClass=person)(ou=Maven Users))",
      "userType": "PERSISTENT"
    }
  },
  "frontend": {
    "id": "{{ reposilite_frontend_cdn_id }}",
    "title": "{{ reposilite_frontend_cdn_title }}",
    "description": "{{ reposilite_frontend_cdn_description }}",
    "organizationWebsite": "{{ reposilite_frontend_cdn_org_website }}",
    "organizationLogo": "{{ reposilite_frontend_cdn_org_logo }}",
    "icpLicense": ""
  },
  "web": {
    "forwardedIp": "X-Forwarded-For"
  },
  "statistics": {
    "enabled": true,
    "resolvedRequestsInterval": "WEEKLY"
  },
  "maven": {
    "repositories": [
      {
        "id": "upstream",
        "visibility": "PUBLIC",
        "redeployment": true,
        "preserveSnapshots": false,
        "storageProvider": {
          "type": "fs",
          "quota": "100%",
          "mount": "",
          "maxResourceLockLifetimeInSeconds": 60
        },
        "storagePolicy": "PRIORITIZE_UPSTREAM_METADATA",
        "metadataMaxAge": 1440,
        "proxied": [
          {
            "reference": "maven-central",
            "store": false,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc",
              ".exe",
              ".kar",
              ".tar.gz",
              ".cfg"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          },
          {
            "reference": "atlassian-public",
            "store": false,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          },
          {
            "reference": "codelibs",
            "store": false,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          },
          {
            "reference": "jaspersoft-third-party-ce",
            "store": false,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          },
          {
            "reference": "opennms-3rdparty",
            "store": false,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          },
          {
            "reference": "opennms-repo",
            "store": false,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          },
          {
            "reference": "shibboleth-releases",
            "store": false,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          },
          {
            "reference": "vaadin-addons",
            "store": false,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          },
          {
            "reference": "confluent.io",
            "store": false,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          },
          {
            "reference": "bluebird-releases",
            "store": false,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          },
          {
            "reference": "bluebird-snapshots",
            "store": false,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          },
          {
            "reference": "restlet-talend"
          }
        ]
      },
      {
        "id": "maven-central",
        "visibility": "PUBLIC",
        "redeployment": true,
        "preserveSnapshots": false,
        "storageProvider": {
          "type": "fs",
          "quota": "100%",
          "mount": "",
          "maxResourceLockLifetimeInSeconds": 60
        },
        "storagePolicy": "PRIORITIZE_UPSTREAM_METADATA",
        "metadataMaxAge": 1440,
        "proxied": [
          {
            "reference": "https://repo.maven.apache.org/maven2/",
            "store": true,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc",
              ".exe",
              ".kar",
              ".tar.gz",
              ".cfg"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          }
        ]
      },
      {
        "id": "atlassian-public",
        "visibility": "PUBLIC",
        "redeployment": true,
        "preserveSnapshots": false,
        "storageProvider": {
          "type": "fs",
          "quota": "100%",
          "mount": "",
          "maxResourceLockLifetimeInSeconds": 60
        },
        "storagePolicy": "PRIORITIZE_UPSTREAM_METADATA",
        "metadataMaxAge": 1440,
        "proxied": [
          {
            "reference": "https://maven.artifacts.atlassian.com/",
            "store": true,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          }
        ]
      },
      {
        "id": "codelibs",
        "visibility": "PUBLIC",
        "redeployment": true,
        "preserveSnapshots": false,
        "storageProvider": {
          "type": "fs",
          "quota": "100%",
          "mount": "",
          "maxResourceLockLifetimeInSeconds": 60
        },
        "storagePolicy": "PRIORITIZE_UPSTREAM_METADATA",
        "metadataMaxAge": 1440,
        "proxied": [
          {
            "reference": "https://maven.codelibs.org/",
            "store": true,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          }
        ]
      },
      {
        "id": "jaspersoft-third-party-ce",
        "visibility": "PUBLIC",
        "redeployment": true,
        "preserveSnapshots": false,
        "storageProvider": {
          "type": "fs",
          "quota": "100%",
          "mount": "",
          "maxResourceLockLifetimeInSeconds": 60
        },
        "storagePolicy": "PRIORITIZE_UPSTREAM_METADATA",
        "metadataMaxAge": 1440,
        "proxied": [
          {
            "reference": "https://jaspersoft.jfrog.io/artifactory/third-party-ce-artifacts/",
            "store": true,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          }
        ]
      },
      {
        "id": "opennms-3rdparty",
        "visibility": "PUBLIC",
        "redeployment": true,
        "preserveSnapshots": false,
        "storageProvider": {
          "type": "fs",
          "quota": "100%",
          "mount": "",
          "maxResourceLockLifetimeInSeconds": 60
        },
        "storagePolicy": "PRIORITIZE_UPSTREAM_METADATA",
        "metadataMaxAge": 1440,
        "proxied": [
          {
            "reference": "https://archive.opennms.com/repo-maven/3rdparty/",
            "store": true,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          }
        ]
      },
      {
        "id": "opennms-repo",
        "visibility": "PUBLIC",
        "redeployment": true,
        "preserveSnapshots": false,
        "storageProvider": {
          "type": "fs",
          "quota": "100%",
          "mount": "",
          "maxResourceLockLifetimeInSeconds": 60
        },
        "storagePolicy": "PRIORITIZE_UPSTREAM_METADATA",
        "metadataMaxAge": 1440,
        "proxied": [
          {
            "reference": "https://archive.opennms.com/repo-maven/maven2/",
            "store": true,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          }
        ]
      },
      {
        "id": "shibboleth-releases",
        "visibility": "PUBLIC",
        "redeployment": true,
        "preserveSnapshots": false,
        "storageProvider": {
          "type": "fs",
          "quota": "100%",
          "mount": "",
          "maxResourceLockLifetimeInSeconds": 60
        },
        "storagePolicy": "PRIORITIZE_UPSTREAM_METADATA",
        "metadataMaxAge": 1440,
        "proxied": [
          {
            "reference": "https://build.shibboleth.net/maven/releases/",
            "store": true,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          }
        ]
      },
      {
        "id": "vaadin-addons",
        "visibility": "PUBLIC",
        "redeployment": true,
        "preserveSnapshots": false,
        "storageProvider": {
          "type": "fs",
          "quota": "100%",
          "mount": "",
          "maxResourceLockLifetimeInSeconds": 60
        },
        "storagePolicy": "PRIORITIZE_UPSTREAM_METADATA",
        "metadataMaxAge": 1440,
        "proxied": [
          {
            "reference": "https://maven.vaadin.com/vaadin-addons/",
            "store": true,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          }
        ]
      },
      {
        "id": "confluent.io",
        "visibility": "PUBLIC",
        "redeployment": true,
        "preserveSnapshots": false,
        "storageProvider": {
          "type": "fs",
          "quota": "100%",
          "mount": "",
          "maxResourceLockLifetimeInSeconds": 60
        },
        "storagePolicy": "PRIORITIZE_UPSTREAM_METADATA",
        "metadataMaxAge": 1440,
        "proxied": [
          {
            "reference": "https://packages.confluent.io/maven/",
            "store": true,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          }
        ]
      },
      {
        "id": "bluebird-releases",
        "visibility": "PUBLIC",
        "redeployment": false,
        "preserveSnapshots": false,
        "storageProvider": {
          "type": "fs",
          "quota": "100%",
          "mount": "",
          "maxResourceLockLifetimeInSeconds": 60
        },
        "storagePolicy": "PRIORITIZE_UPSTREAM_METADATA",
        "metadataMaxAge": 1440,
        "proxied": [
          {
            "reference": "https://repo.maven.bluebirdops.org/releases",
            "store": true,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          }
        ]
      },
      {
        "id": "bluebird-snapshots",
        "visibility": "PUBLIC",
        "redeployment": true,
        "preserveSnapshots": false,
        "storageProvider": {
          "type": "fs",
          "quota": "100%",
          "mount": "",
          "maxResourceLockLifetimeInSeconds": 60
        },
        "storagePolicy": "PRIORITIZE_UPSTREAM_METADATA",
        "metadataMaxAge": 1440,
        "proxied": [
          {
            "reference": "https://repo.maven.bluebirdops.org/snapshots",
            "store": true,
            "allowedGroups": [],
            "allowedExtensions": [
              ".jar",
              ".war",
              ".pom",
              ".xml",
              ".module",
              ".md5",
              ".sha1",
              ".sha256",
              ".sha512",
              ".asc"
            ],
            "connectTimeout": 3,
            "readTimeout": 15,
            "httpProxy": "",
            "authenticatedFetchingOnly": false
          }
        ]
      },
      {
        "id": "restlet-talend",
        "visibility": "PUBLIC",
        "metadataMaxAge": 1440,
        "proxied": [
          {
            "reference": "https://maven.restlet.talend.com/",
            "store": true
          }
        ]
      }
    ]
  }
}
