api:
  auth_token: {{ api.auth_token }}
  # On server, set url to the hostname of your server installation. For example,
  # url: https://circleci.example.com
runner:
  name: {{ runner.name }}
  working_directory: {{ runner.working_directory }}
  cleanup_working_directory: {{ runner.cleanup_working_directory }}
logging:
  level: "{{ logging.level }}"
  format: "{{ logging.format }}"
  file: "{{ logging.file }}"
