---
name: base-builder
run-name: Create base builder OCI for CICD infrastructure
on:
  workflow_dispatch:
  push:
    paths:
      - 'oci/base-builder/**'

jobs:
  base-builder:
    strategy:
      matrix:
        distro: [ ubuntu-25.10, rocky-10.1 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Create Dockerfile
        working-directory: oci/base-builder/${{ matrix.distro }}
        run: make Dockerfile

      ## Any other branch just builds locally, no docker push
      - name: Build container image
        if: github.ref != 'refs/heads/main'
        uses: docker/build-push-action@v6
        with:
          context: ./oci/base-builder/${{ matrix.distro }}
          # only single arch on branches, because of
          # ERROR: docker exporter does not currently support exporting manifest lists
          platforms: linux/amd64
          push: false
          load: true
          tags: base-builder:${{ matrix.distro }}.b${{ github.run_number }}
      - name: Save image as artifact
        if: github.ref != 'refs/heads/main'
        working-directory: oci/base-builder/${{ matrix.distro }}
        run: docker image save base-builder:${{ matrix.distro }}.b${{ github.run_number }} -o build/base-builder-${{ matrix.distro }}.oci
      - name: Persist OCI
        if: github.ref != 'refs/heads/main'
        uses: actions/upload-artifact@v5
        with:
          name: base-builder-oci-${{ matrix.distro }}
          path: |
            oci/base-builder/${{ matrix.distro }}/build/*.oci

      ## Main branch with push to registry
      - name: Login to Quay registry
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Build and push container image
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v6
        with:
          context: ./oci/base-builder/${{ matrix.distro }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: quay.io/bluebird/base-builder:${{ matrix.distro }}-0.1.b${{ github.run_number }}
