---
name: deploy-base
run-name: Create deploy base OCI for CICD infrastructure
on:
  workflow_dispatch:
  push:
    paths:
      - 'oci/deploy-base/**'

jobs:
  deploy-base-oci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # 3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # 3.12.0
      - name: Create Dockerfile
        working-directory: oci/deploy-base
        run: make Dockerfile

      ## Any other branch just builds locally, no docker push
      - name: Build container image
        if: github.ref != 'refs/heads/main'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # 6.18.0
        with:
          context: ./oci/deploy-base
          # only single arch on branches, because of
          # ERROR: docker exporter does not currently support exporting manifest lists
          platforms: linux/amd64
          push: false
          load: true
          tags: deploy-base:b${{ github.run_number }}
      - name: Save image as artifact
        if: github.ref != 'refs/heads/main'
        working-directory: oci/deploy-base
        run: docker image save deploy-base:b${{ github.run_number }} -o build/deploy-base.oci
      - name: Persist OCI
        if: github.ref != 'refs/heads/main'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # 6.0.0
        with:
          name: deploy-base-oci
          path: |
            oci/deploy-base/build/*.oci

      ## Main branch with push to registry
      - name: Login to Quay registry
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # 3.6.0
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Build and push container image
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # 6.18.0
        with:
          context: ./oci/deploy-base
          platforms: linux/amd64,linux/arm64
          push: true
          tags: quay.io/bluebird/deploy-base:5.0.0.b${{ github.run_number }}
