---
name: java-builder
run-name: Create Java builder OCI for CICD infrastructure
on:
  workflow_dispatch:
  push:
    paths:
      - 'oci/java-builder/**'

jobs:
  java-oci-builder:
    strategy:
      matrix:
        distro: [ ubuntu, rocky ]
        openjdk: [ 8, 11, 17, 21 ]
    runs-on: ubuntu-latest
    container:
      image: quay.io/${{ github.repository_owner }}/base-builder:ubuntu.0.1.7.b18
    steps:
      - uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Create Dockerfile
        working-directory: oci/java-builder/${{ matrix.distro }}
        run: make Dockerfile OPENJDK_MAJOR=${{ matrix.openjdk }}

      ## Any other branch just build locally, no docker push
      - name: Build container image
        if: github.ref != 'refs/heads/main'
        uses: docker/build-push-action@v6
        with:
          context: ./oci/java-builder/${{ matrix.distro }}
          # only single arch on branches, because of
          # ERROR: docker exporter does not currently support exporting manifest lists
          platforms: linux/amd64
          push: false
          load: true
          tags: java-builder:${{ matrix.distro }}.jdk-${{ matrix.openjdk }}.b${{ github.run_number }}
      - name: Save image as artifact
        if: github.ref != 'refs/heads/main'
        working-directory: oci/java-builder/${{ matrix.distro }}
        run: docker image save java-builder:${{ matrix.distro }}.jdk-${{ matrix.openjdk }}.b${{ github.run_number }} -o build/java-builder-${{ matrix.distro }}.oci
      - name: Persist OCI
        if: github.ref != 'refs/heads/main'
        uses: actions/upload-artifact@v5
        with:
          name: java-builder-oci-${{ matrix.distro }}.jdk-${{ matrix.openjdk }}
          path: |
            oci/java-builder/${{ matrix.distro }}/build/*.oci

      ## Main branch with push to registry
      - name: Login to Quay registry
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Build and push container image
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v6
        with:
          context: ./oci/java-builder/${{ matrix.distro }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: quay.io/${{ github.repository_owner }}/java-builder:${{ matrix.distro }}.0.1.6.jdk-${{ matrix.openjdk }}.b${{ github.run_number }}
